# Ambientes Virtuais
venv/
env/
.env
.venv

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos Word temporários
~$*.docx